<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GST Connect</title>
    <link rel="stylesheet" href="/stylesheets/createproject.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
    <div class="container">
        
      <!--------------------- TOP-NAV ---------------------->

      <div class="top-nav">
        <img src="/img/MAIN.png" alt="">
    </div>

      <!--------------------- SIDE-NAV ---------------------->

      <div class="position">
        <div class="side-nav open">
          <div class="user-info">
            <% if(typeof image == "undefined") { %>
              <a href="/users/myprofile" class="my-profile"><img src="/img/icons8-male-user-90.png" alt="Avatar" class="avatar" /></a>
            <% } else { %>
              <a href="/users/myprofile" class="my-profile"><img src="<%= image %>" alt="Avatar" class="avatar" /></a>
              <% } %>
            <a href="/users/myprofile" class="my-profile"><h3><%= name %></h3></a>
          </div>
  
          <ul>
            <li class="border">
              <i class="material-icons">settings_input_antenna</i>
              <a href="/users/connect">Connect</a>
            </li>
  
            <li class="border">
              <i class="material-icons">recent_actors</i>
              <a href="/users/projects">Projects<span class="fas fa-caret-down before "></span></a>
              <ul>
                <div class="inner">
                  <li id="i-top"> <i class="material-icons">person</i><a href="/users/myprojects">My Projects</a></li>
                  <li> <i class="material-icons">create</i><a href="/users/createproject">Add Project</a></li>
                </div>
              </ul>
            </li>
  
            <li class="border">
              <i class="material-icons">
                menu_book</i>
              <a class="extra" href="/users/books">Books<span class="fas fa-caret-down beforeTwo "></span></a>
              <ul>
                <div class="innerTwo">
                  <li id="i-top"> <i class="material-icons">person</i><a href="/users/mybooks">My Books</a></li>
                  <li> <i class="material-icons">create</i><a href="/users/createbook">Add Book</a></li>
                </div>
              </ul>
            </li>
            <form action="/logout" class="border s-hidden" method="POST">
              <i class="material-icons">east</i><button class="log" type="submit" style="cursor: pointer;">Log Out</button>
            </form>
          </ul>
        </div>
      </div>
  
      <!--------------------- RIGHT-SECTION ---------------------->

      
             <div class="container-one">
        

        <p class="line"> Edit Project</p>
        <form action="/users/myprojects/edit/<%= result._id %>" method="POST">
            <div class="card-body">
                <div class="event-name">
                    <p class="name">Name</p>
                    <input type="text" placeholder="Name of the Project" name="title" value="<%= result.title %>" required>
                    <p class="name">Stack</p>
                    <input type="text" placeholder="Name of the stack used" name="stack" value="<%= result.stack %>" required>
                    <p class="name">Description</p>
                    <textarea type="text" class="i-name desc" name="description" placeholder="Enter description" required><%= result.description %></textarea>
                    <label for="cars">Status</label>
                    <select name="status" class="i-name" required>
                        <option value="<%= result.status %>"><%= result.status %></option>
                      <option value="Active">Active</option>
                      <option value="Completed">Completed</option>
                    </select>
                </div>
                <div><input type="submit" value="SUBMIT" class="s-button"></div>
            </div>
        </form>    
             </div>

    </div> <!--/Container-->

    <script>
        const burger = document.querySelector(".top-nav img");
        const side = document.querySelector(".side-nav");
  
        burger.addEventListener("click", (e) => {
          side.classList.toggle("open");
          e.preventDefault();
        });
        const add = document.querySelector(".inner");
        const before = document.querySelector(".before");
  
  
        before.addEventListener("click", (e) => {
          add.classList.toggle("add")
          before.classList.toggle("after")
  
          e.preventDefault();
        });
  
        const addTwo = document.querySelector(".innerTwo");
        const beforeTwo = document.querySelector(".beforeTwo");
  
        beforeTwo.addEventListener("click", (e) => {
          addTwo.classList.toggle("addTwo")
          beforeTwo.classList.toggle("afterTwo")
  
          e.preventDefault();
        });
  
      </script>
  </body>
</html>
