<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GST Connect</title>
  <link rel="stylesheet" href="/stylesheets/projects.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://use.fontawesome.com/429919f3bd.js"></script>
</head>

<body>
  <div class="container">

    <!--------------------- TOP-NAV ---------------------->

    <div class="top-nav">
      <h1>SIESGSTportal<span>.</span></h1>
      <i class="material-icons menu">menu</i>
    </div>

    <!--------------------- SIDE-NAV ---------------------->

    <div class="position">
      <div class="side-nav open">
        <div class="user-info">
          <% if(typeof image == "undefined") { %>
            <a href="/users/myprofile" class="my-profile"><img src="/img/icons8-male-user-90.png" alt="Avatar" class="avatar" /></a>
          <% } else { %>
            <a href="/users/myprofile" class="my-profile"><img src="<%= image %>" alt="Avatar" class="avatar" /></a>
            <% } %>
          <a href="/users/myprofile" class="my-profile"><h3><%= name %></h3></a>
        </div>

        <ul>
          <li class="border">
            <i class="material-icons">settings_input_antenna</i>
            <a href="/users/connect">Connect</a>
          </li>

          <li class="border">
            <i class="material-icons">recent_actors</i>
            <a href="/users/projects">Projects<span class="fas fa-caret-down before "></span></a>
            <ul>
              <div class="inner">
                <li id="i-top"> <i class="material-icons">person</i><a href="/users/myprojects">My Projects</a></li>
                <li> <i class="material-icons">create</i><a href="/users/createproject">Create Project</a></li>
              </div>
            </ul>
          </li>

          <li class="border">
            <i class="material-icons">
              menu_book</i>
            <a class="extra" href="/users/books">Books<span class="fas fa-caret-down beforeTwo "></span></a>
            <ul>
              <div class="innerTwo">
                <li id="i-top"> <i class="material-icons">person</i><a href="/users/mybooks">My Books</a></li>
                <li> <i class="material-icons">create</i><a href="/users/createbook">Create Book</a></li>
              </div>
            </ul>
          </li>
          <form action="/logout" class="border s-hidden" method="POST">
            <i class="material-icons">east</i><button class="log" type="submit" style="cursor: pointer;">Log Out</button>
          </form>
        </ul>
      </div>
    </div>
    <!--------------------- RIGHT-SECTION ---------------------->

    <div class="right-section">

      <p class="line" style="margin-bottom: 1em;">MY PROJECTS</p>  

      <div class="all-cards">

        <% result.forEach(result => { %>
        <div class="connect-card">
          <div class="upper-section">
            <% if(result.user.coverImagePath) { %>
              <img src="<%= result.user.coverImagePath %>">
              <% } else { %>
                <img src="/img/icons8-male-user-90.png">
                <% } %>
            <div class="right-card">
              <p class="user-name"><%= result.user.name %></p>
              <div class="user-details">
                <p class="year"><%= result.user.year %></p>
                <p class="field"><%= result.user.branch %></p>
              </div>
            </div>
          </div>

          <div class="lower-section">
            <p class="user-name">
              <%= result.title %>
            </p>

            <% if(result.status == "Active") { %>
            <p class="status-o"><%= result.status %></p>
            <% } else { %>
              <p class="status-c"><%= result.status %></p>
              <% } %>

            <p class="designation">
              <%= result.stack %>
            </p>
            <p class="user-bio">
              <%= result.description %>
            </p>

            <div class="user-edit">
              <a href="/users/myprojects/edit/<%= result._id %>" style="color: black;"><i class="fa fa-edit" aria-hidden="true"></i></a>

            <form action="/users/myprojects/delete/<%= result._id %>" method="POST">
              <button style="font-size: large; background-color: transparent; border: none; padding: 0em;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </form>

            </div>
          </div>
        </div>
        <% }) %>

      </div>
    </div>


    <script>
      const burger = document.querySelector(".top-nav i");
      const side = document.querySelector(".side-nav");

      burger.addEventListener("click", (e) => {
        side.classList.toggle("open");
        e.preventDefault();
      });
      const add = document.querySelector(".inner");
      const before = document.querySelector(".before");


      before.addEventListener("click", (e) => {
        add.classList.toggle("add")
        before.classList.toggle("after")

        e.preventDefault();
      });

      const addTwo = document.querySelector(".innerTwo");
      const beforeTwo = document.querySelector(".beforeTwo");

      beforeTwo.addEventListener("click", (e) => {
        addTwo.classList.toggle("addTwo")
        beforeTwo.classList.toggle("afterTwo")

        e.preventDefault();
      });

    </script>
</body>

</html>